*, body {
    padding: 0;
    margin: 0;
    font-family: tahoma, arial;
    box-sizing: border-box;
}

a, td, div {
    text-decoration: none;
    color: #111;
}

::selection {
    background-color: teal;
    color: white;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.vien {
    width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #f3f2f147;
    box-shadow: 0px 0px 3px #888888;
}

.banner, .footer {
    height: 100px;
    background-color: teal;
}

.main {
    display: flex;
    padding: 20px;
}

.menu-trai {
    width: 25%;
    background-color: #f3f2f1;
}

.menu-trai-vien {
    
}

.menu-trai-danhmuc {
    background-color: #d45252;
    padding: 8px;
    color: white;
    text-transform: uppercase;
    padding-left: 22px;
    font-weight: bold;
}

.menu-trai ul {
    padding: 0;
    margin: 0;
}

.menu-trai ul li {
    padding: 5px 0;
    margin: 0;
    padding-left: 22px;
    list-style: none;
    border-bottom: 1px solid #d4d4d4;
    font-weight: bold;
    font-size: 17px;
}

.menu-trai-vien > ul > li, .menu-trai-vien > ul > li > a {
    color: #007eff;
}

.menu-trai ul li a:hover {
    text-decoration: none;
    color: #d45252;
}

.menu-trai ul li:last-child {
    border-bottom: none;
}

.menu-trai ul li ul {
    padding-top: 0;
}

.menu-trai ul li ul li {
    background: url(Home/IconGiaoViec.png) no-repeat;
    background-position: left 8px;
    padding: 3px 0;
    margin: 0;
    padding-left: 15px;
    list-style: none;
    background-size: 12px;
    border-bottom: none;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.vung-chinh {
    width: 75%;
    margin-left: 20px;
}

.vung-chinh-vien {
    min-height: calc(100vh - 200px);
}

.main-vien {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tinmoi, .tintungtrang {
    padding-top: 8px;
    border-bottom: 1px solid #d4d4d4;
}

.tinmoi {
    padding-top: 0;
}

.tinmoi-tieude, .tintungtrang-tieude, .demuc {
    font-weight: 600;
    font-size: 18px;
    color: #007eff;
    padding: 4px;
    border-bottom: 6px ridge #7eceec;
}

.tinmoi-danhsach, .tintungtrang-danhsach {
    line-height: 22px;
}

.tinmoi-danhsach {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.tinmoi-mautin {
    width: 49%;
    padding: 5px 0;
    background: url(Home/bulet_xo1.png) no-repeat;
    background-position: left 10px;
    padding-left: 15px;
    display: flex;
}

.tinmoi-mautin img, .tintungtrang-mautin img {
    height: 88px;
    aspect-ratio: 3/2;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 5px;
}

.tinmoi-mautin a, .tintungtrang-mautin a {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.tintungtrang-vien {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.tintungtrang {
    width: 49.5%;
}

.width-100 {
    width: 100% !important;
}

.tintungtrang-mautin {
    padding: 5px 0;
    background: url(Home/bulet_xo1.png) no-repeat;
    background-position: left 10px;
    padding-left: 15px;
    display: flex;
}

.tintungtrang-xemtiep {
    text-align: right;
}

.tintungtrang-xemtiep > a {
    color: red;
    text-decoration: underline;
}

.danhsachtin-nen {
    
}

.dong-chan, .dong-le {
    padding: 10px 0;
    display: flex;
}

.anhdaidien-trai {
    flex: 0 0 20%;
    max-width: 20%;
}

.noidung-phai {
    flex: 0 0 80%;
    max-width: 80%;
}

.anhdaidien-trai img {
    width: 162px;
    aspect-ratio: 3/2;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 3px;
}

.dong-chan:hover, .dong-le:hover {
    background-color: antiquewhite;
}

.dongtieude {
    padding-right: 4px;
}

.rong {
    text-align: center
}

.tieude {
    font-weight: bold;
}

.thoigian {
    font-style: italic;
    text-align: right;
}

.dongnoidung {
    padding-right: 4px;
}

.tomtat {
    text-align: justify;
    padding-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.xemchitiet a {
    font-style: italic;
    float: right;
    color: blue;
}

.Vien_Khung {
    padding: 5px;
    background-color: #ccc6;
}

.Tin_PhanTrang_HienTai {
    padding: 0 3px;
    color: red;
    text-decoration: none;
}

.Tin_PhanTrang {
    padding: 0 3px;
    text-decoration: none;
}

.chitiet {
    padding-top: 10px;
}

.chitiet-tieude {
    font-size: 22px;
    margin-bottom: 15px !important;
}

.chitiet-thoigian {
    margin-bottom: 15px !important;
}

.chitiet-noidung {
    word-break: keep-all;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 15px !important;
}

.chitiet-noidung p, .chitiet-noidung span {
    font-size: 1rem;
    line-height: 1.7em;
}

.chitiet-tacgia {
    text-align: right;
}

.chitiet-tacgia p {
    font-weight: 600;
    line-height: 1.5;
    font-style: italic;
}

.chitiet-tomtat {
    font-weight: 600;
    margin-bottom: 10px !important;
}

.tinkhac-demuc {
    margin-top: 15px;
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
}

.tinkhac-danhsach {
    margin-top: 10px;
    margin-left: 10px;
}

.tinkhac-mautin {
    padding: 5px 0;
    background: url(Home/BulletCon.png) no-repeat;
    background-position: left 8px;
    background-size: 12px;
    padding-left: 17px;
}