.v-center > div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -10%;
}

.btnmodal {
    color: white;
    text-shadow: -2px 2px #346392;
    background-color: #1b5884;
    background-image: linear-gradient(top, #6496c8, #346392);
    box-shadow: inset 0 0 0 1px #27496d;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    /**/
    text-decoration: none;
    display: block;
    font-size: 15px;
    text-align: center;
}

    .btnmodal:hover {
        background: #236799;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }

.btn:hover {
    background-color: #ddd;
    /*-webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;*/
}

.btn-small {
    padding: .75em 1em;
    font-size: 0.8em;
}

.modal-box {
    display: none;
    position: absolute;
    z-index: 1000;
    max-width: 60%; /**chỉnh độ rộng popup**/
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

@media (min-width: 32em) {
    .modal-box {
        width: 40%;
    }
}

.modal-box header,
.modal-box .modal-header {
    /*padding: 1.25em 1.5em;*/
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
}

    .modal-box header h3,
    .modal-box header h4,
    .modal-box .modal-header h3,
    .modal-box .modal-header h4 {
        margin: 0;
    }

.modal-box .modal-body {
    padding: 2em 1.5em;
}

.modal-box footer,
.modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
}

.modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 50%;
    height: 50%;
    /*background: rgba(0, 0, 0, 0.3);*/
    background: white;
}

.close {
    line-height: 1;
    font-size: 1.7em !important;
    position: absolute;
    top: 3%;
    right: 2%;
    text-decoration: none;
    /*color: #bbb;*/
    color: gray !important;
}

    .close:hover {
        cursor: pointer;
        color: red;
        font-size: 1.7em !important;
    }

/*a.close:hover {
        color: #222;
        -webkit-transition: color 1s ease;
        -moz-transition: color 1s ease;
        transition: color 1s ease;
    }*/

.time {
    font-weight: bold;
}
